<mat-card>
    <mat-card-content class="card">
        <mat-card-header class="titles">
            <span class="title1" (click)="create()">CREATE NEW ALBUM</span>
            <span class="title2" (click)="addTo()">ADD TO EXISTING</span>
        </mat-card-header>

        <mat-card-footer class="buttons">
            <div class="divButton">
                <button class="buttonClose" (click)="close()">CANCEL</button>
                <button class="buttonSave">SAVE</button>
            </div>
        </mat-card-footer>

    </mat-card-content>
</mat-card>